<div class="content container mt-5 mb-5">
    <div class="row">
        <div class="col-12">
            <h1>
                <a href="/lotterys"><i class="fas fa-chevron-circle-left"></i></a> {{title}}
            </h1>
            <small class="bg-light border border-dark p-1">{{lottery.name}}</small>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-12 mx-auto mt-5">
            <strong>{{__ "Total number of applicants"}}: {{lottery.applicants.length}}</strong>
        </div>
        <div class="col-12 mx-auto mt-5">
            {{#if lottery.applicants.length}}
                <table class="table table-bordered">
                    <tr>
                        <th>{{__ "Email"}}</th>
                        <th>{{__ "Public name"}}</th>
                        <th>{{__ "Real name"}}</th>
                        <th>{{__ "Street"}}</th>
                        <th>{{__ "ZIP"}}</th>
                        <th>{{__ "Town"}}</th>
                        <th>{{__ "Country"}}</th>
                    </tr>
                {{#each lottery.applicants}}
                    <tr>
                        <td>{{this.email}}</td>
                        <td>{{this.publicName}}</td>
                        <td>{{this.deliverName}}</td>
                        <td>{{this.deliverStreet}}</td>
                        <td>{{this.deliverZip}}</td>
                        <td>{{this.deliverTown}}</td>
                        <td>{{this.deliverCountry}}</td>
                    </tr>
                {{/each}}
                </table>
            {{else}}
                <div class="alert alert-danger">{{__ "Nothing to show yet"}}.</div>
            {{/if}}
        </div>
    </div>
</div>