<!-- Icons Grid -->
<section class="features-icons bg-light text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex">
                        <i class="icon-screen-desktop m-auto text-primary"></i>
                    </div>
                    <h3>{{__ "Ready for OBS & XSplit"}}</h3>
                    <p class="lead mb-0">{{__ "Features1Text"}}</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex">
                        <i class="icon-layers m-auto text-primary"></i>
                    </div>
                    <h3>{{__ "Database driven"}}</h3>
                    <p class="lead mb-0">{{__ "Features2Text"}}</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                    <div class="features-icons-icon d-flex">
                        <i class="icon-check m-auto text-primary"></i>
                    </div>
                    <h3>{{__ "Easy to Use"}}</h3>
                    <p class="lead mb-0">{{__ "Features3Text"}}</p>
                </div>
            </div>
        </div>
    </div>
</section>