<!-- Image Showcases -->
<section class="showcase">
    <div class="container-fluid p-0">
        <div class="row no-gutters">

            <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('/images/bg-showcase-1.jpg');"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>{{__ "Ready for OBS & XSplit"}}</h2>
                <p class="lead mb-0">{{__ "Showcase1Text"}}</p>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-6 text-white showcase-img" style="background-image: url('/images/bg-showcase-2.jpg');"></div>
            <div class="col-lg-6 my-auto showcase-text">
                <h2>{{__ "Database driven"}}</h2>
                <p class="lead mb-0">{{__ "Showcase2Text"}}</p>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('/images/bg-showcase-3.jpg');"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>{{__ "Easy to Use"}}</h2>
                <p class="lead mb-0">{{__ "Showcase3Text"}}</p>
            </div>
        </div>
    </div>
</section>
