{{#if error}}
    <div class="alert alert-danger mb-5">
        <h2>{{error}}</h2>
        <p class="mt-5"><a class="btn btn-secondary" href="/passwordrequest/{{email}}">{{__ "Reset password"}}</a></p>
    </div>
{{/if}}

<div class="form-group row">
    <div class="col-12">
        <label for="email">
            {{__ "Your email address"}}
        </label>
    </div>
    <div class="col-xl-6 col-lg-7 col-md-8 col-sm-12">
        <input type="email" name="email" id="email" value="{{email}}" class="form-control form-control-lg {{#if errors.email.message}}border-danger{{/if}}" required="required" placeholder="{{__ "Enter your email"}}...">
        {{#if errors.email.message}}
            <small class="text-danger">{{errors.email.message}}</small>
        {{/if}}
    </div>
</div>

<div class="form-group row">
    <div class="col-12">
        <label for="password">
            {{__ "Password"}}
        </label>
    </div>
    <div class="col-xl-5 col-lg-6 col-md-7 col-sm-12">
        <input type="password" name="password" id="password" value="" class="form-control form-control-lg {{#if errors.password.message}}border-danger{{/if}}" required="required" placeholder="{{__ "Enter your password"}}...">
        {{#if errors.password.message}}
            <small class="text-danger">{{errors.password.message}}</small>
        {{/if}}
    </div>
</div>
